<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment4.Properties.Settings.comp_1004ConnectionString"
            connectionString="Data Source=comp-1004.database.windows.net;Initial Catalog=comp-1004;Persist Security Info=True;User ID=junyeongyu;Password=asdfASDF4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>